.btn-export-list button {
  background: #0082f9;
  border-radius: 3px;
  width: 167px;
  height: 36px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  transition: ease-in-out 0.5s;
  border: 1px solid #0082f9;
}
.btn-export-list button:hover {
  background: transparent;
  color: #0082f9;
}

.search-area {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.search-area span {
  margin-right: 5px;
}

span.btn-export-list button {
  margin-right: 10px !important;
}

.search-area input {
  padding: 0 6px;
  font-size: 13px;
}
.search-area input.input-search-ad {
  width: 300px;
  max-width: 300px;
  min-width: 140px;
}
.search-area select.custom-select {
  height: 34px;
  min-width: 60px;
  max-width: 60px;
  padding: 0 5px;
}

span.items-per-page {
  margin-left: auto;
}
