// Here you can add other styles
body {
  background-color: #e5e5e5;
  .c-sidebar {
    // background: linear-gradient(45deg, #082784, #0c0c0c) !important;
    // border-color: #fff !important;
    //  width: 20%;
    .c-sidebar-nav {
      li {
        padding-bottom: 10px;
        a {
          font-size: 0.79rem;
        }
      }
    }
  }

  .c-main {
    background-color: #f1f1f1;
    .page-item.active .page-link {
      color: #fff;
      background-color: #3399ff;
      border-color: #3399ff;
    }
    .fileUpload {
      position: relative;
      overflow: hidden;
      margin: 10px;
    }
    .fileUpload input.upload {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }
    .card {
      border: 0;
      box-shadow: 0 1px 1px 0 rgba(60, 75, 100, 0.14),
        0 2px 1px -1px rgba(60, 75, 100, 0.12),
        0 1px 3px 0 rgba(60, 75, 100, 0.2);
    }
    .table {
      background: #ffffff;
      border: 1px solid #cbcbd8;
      box-sizing: border-box;
      margin-top: 10px;
      th {
        background: #ffffff;
        border: 1px solid #b1b1c4;
        box-sizing: border-box;
      }
      td {
        background: #ffffff;
        border: 1px solid #cbcbd8;
        box-sizing: border-box;
      }
    }
    .select-box {
      background: #ffffff;
      border: 1px solid #dedede;
      box-sizing: border-box;
      color: #ababab;
    }
  }
}
.login-header {
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 26px;
  font-weight: 400;
}

table.table {
  thead {
    th {
      background-color: #e5e5e5;
    }
  }
  tbody {
    tr {
      td {
        background-color: #fff;
      }
    }
  }
}
